<app-card cardTitle="Detalle Bitacora" [options]="false">
  <div class="row">
    <div class="form-group col-md-6">
      <label for=""><strong>Email</strong></label>
      <p>{{ bitacora?.email }}</p>
    </div>

    <div class="form-group col-md-6">
      <label for=""><strong>Nombre Labor</strong></label>
      <p>{{ bitacora?.name }}</p>
    </div>

    <div class="form-group col-md-6">
      <label for=""><strong>Descripción</strong></label>
      <p>{{ bitacora?.description }}</p>
    </div>

    <div class="form-group col-md-6">
      <label for=""><strong>Adjunto</strong></label>
      <p>{{ bitacora?.file }}</p>
    </div>
    
  </div>
</app-card>
