<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Detalle" [options]="false">

              <div class="row mt-4">
                <div class="form-group col-md-6">
                  <label><strong>Fecha</strong></label>
                  <p>{{ bitacora?.date }}</p>
                </div>

                <div class="form-group col-md-6">
                  <label for=""><strong>Actividad</strong></label>
                  <p>{{ bitacora?.actividad }}</p>
                </div>

                <div class="form-group col-md-6">
                  <label for=""><strong>Operador</strong></label>
                  <p>{{ bitacora?.name_operator }}</p>
                </div>

                <div class="form-group col-md-6">
                  <label for=""><strong>Zona</strong></label>
                  <p>{{ bitacora?.codigo_zona }}</p>
                </div>

                <div class="form-group col-md-6">
                  <label for=""><strong>Labor</strong></label>
                  <p>{{ bitacora?.nombre_labor }}</p>
                </div>

                <div class="form-group col-md-12">
                  <label for=""><strong>Descripción</strong></label>
                  <p>{{ bitacora?.description }}</p>
                </div>

                <div class="form-group col-md-6">
                  <label for=""><strong>Geolocalización</strong></label>
                  <p>{{ bitacora?.lat }} / {{ bitacora?.lng }}</p>
                </div>

                <div class="form-group col-md-12">
                  <label for=""><strong>Evidencias</strong></label>
                  <p>
                    <button type="button" (click)="goToLink(bitacora?.file)" *ngIf="bitacora.file" class="btn btn-icon btn-secondary">
                      <i class="feather icon-image"></i>
                    </button>
                  </p>
                </div>

              </div>
    </app-card>
  </div>
</div>




