<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{title}}" [options]="false">
      <form [formGroup]="laborForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="">Código Labor</label>
            <input type="text" class="form-control"
              [ngClass]="{'invalid-input': f.id.invalid && (f.id.dirty || f.id.touched)}"
              formControlName="id" placeholder="Código Labor de Campo">
            <div class="invalid-input-feedback"
              *ngIf="f.id.errors?.required && (f.id.dirty || f.id.touched)">
              El Código de labor es requerido
            </div>
            <div class="invalid-input-feedback" *ngIf="f.id.errors?.serverError">
              {{ f.id.errors?.serverError }}
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="">Nombre</label>
            <input type="text" class="form-control" [ngClass]="{'invalid-input': f.name.invalid && (f.name.dirty || f.name.touched)}" formControlName="name" placeholder="Nombre">
            <div class="invalid-input-feedback"
              *ngIf="f.name.errors?.required && (f.name.dirty || f.name.touched)">
              La Ubicación de la Labor es requerido
            </div>
            <div class="invalid-input-feedback" *ngIf="f.name.errors?.serverError">
	      {{ f.name.errors?.serverError }}
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="">Descripción</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Descripción">
          </div>

          <div class="form-group col-md-6">
            <label for="">Tipo</label>
            <input type="text" class="form-control" formControlName="labor_type" placeholder="Tipo">
          </div>

          <div class="form-group col-md-12 mt-3">
            <button [disabled]="!laborForm.valid" type="submit" class="btn btn-primary col-md-12">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Guardar
            </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>

