<!--
  <h1>File upload test</h1>
<div>
  <div *ngIf="response && imageURL">
    <img [src]='imageURL' />
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <input type="file" name="worklog" (change)="onChange($event)" />
    <button type="submit">Upload File</button>

  </form>
</div>
-->
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{title}}" [options]="false">
      <form [formGroup]="bitacoraForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="">Email</label>
            <input type="text" class="form-control"
              [ngClass]="{'invalid-input': f.email.invalid && (f.email.dirty || f.email.touched)}"
              formControlName="email" placeholder="Email">
            <div class="invalid-input-feedback"
              *ngIf="f.email.errors?.required && (f.email.dirty || f.email.touched)">
              El Email de usuario es requerido
            </div>
            <div class="invalid-input-feedback" *ngIf="f.email.errors?.serverError">
              {{ f.email.errors?.serverError }}
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="">Nombre Labor</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Labor">
          </div>

          <div class="form-group col-md-6">
            <label for="">Descripción</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Descripción">
          </div>
          
          <div class="form-group col-md-12">
            <label for="">Adjuntar Archivo</label>
            <input type="file" class="form-control" formControlName="file" placeholder="Archivo">
          </div>

          <div class="row form-group col-md-12 mt-4 p-0 justify-content-end">
            <button [disabled]="!bitacoraForm.valid" type="submit" class="btn btn-primary col-md-2">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Guardar
            </button>          
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>