<div class="auth-wrapper">
  <div class="auth-content text-center">
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Correo Electrónico">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            <button class="btn btn-block btn-primary mb-4">Ingresar</button>
            <p class="mb-2 text-muted">¿ Olvidó su contraseña ? <a [routerLink]="['/auth/reset-password']" class="f-w-400">Recuperar</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
