.auth-wrapper {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  // background: #1abc9c;
  background-image: url("/assets/images/auth/img-auth-in.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-gmail {
  background-color: #df4a32;
  color: #fff;
}

.auth-wrapper .card .card-body {
  padding: 40px 35px;
}
