<div class="auth-wrapper">
  <app-alert></app-alert>
  <div class="auth-content text-center">
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
            <p>
              <button (click)="signInWithGoogle()" class="btn btn-block btn-danger">
                <i class="fab fa-google"></i> Registro via Gmail
              </button>
            </p>
            <p class="divider-text">
              <span class="bg-light">O</span>
            </p>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input name="" class="form-control" [ngClass]="{'invalid-input': isValidField('email')}"
                  formControlName="email" placeholder="Correo Electrónico" type="email">
                <label class="invalid-input-feedback text-left"
                  *ngIf="isValidField('email') && !f.email.errors?.serverError">
                  {{ getErrorMessage('email')}}
                </label>
                <label class="invalid-input-feedback" *ngIf="f.email.errors?.serverError">
                  <strong>Ya existe un usuario con este Correo</strong>
                </label>
              </div>

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                </div>
                <select class="form-control" formControlName="role" [ngClass]="{'invalid-input': isValidField('role')}">
                  <option [value]="item[0]" *ngFor="let item of lista_rol">{{item[1]}}</option>
                </select>
                <label class="invalid-input-feedback text-left"
                  *ngIf="isValidField('role') && !f.role.errors?.serverError">
                  {{ getErrorMessage('role')}}
                </label>
              </div>

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" formControlName="password"
                  [ngClass]="{'invalid-input': isValidField('password')}" placeholder="Crear Contraseña"
                  type="password">
                <label class="invalid-input-feedback text-left"
                  *ngIf="isValidField('password') && !f.password.errors?.serverError">
                  {{ getErrorMessage('password')}}
                </label>
              </div>

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input formControlName="confirmPassword" [ngClass]="{'invalid-input': isValidField('confirmPassword')}"
                  class="form-control" placeholder="Repetir Contraseña" type="password">
                <label class="invalid-input-feedback text-left" *ngIf="isValidField('confirmPassword')">
                  {{ getErrorMessage('confirmPassword')}}
                </label>
              </div>



              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Crear Cuenta</button>
              </div>
            </form>
            <p class="mb-2 text-muted">
              Ya tienes una cuenta ?
              <a [routerLink]="['/auth/signin']" class="f-w-400">
                Ingresa
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
